{{!< default }}

{{#contentFor "title"}}Homepage{{/contentFor}}

<div class="col-8 offset-2">
	<div class="Article">
		<h1>{{article.title}}</h1>

		<div class="Article__Body">
			{{{article.body}}}
		</div>
	</div>

	<a href="/home" class="btn btn-primary">To homepage</a>

</div>


